//: Colors Mixins

@mixin body-gradient {
  background: hsla(0, 0%, 100%, 1);
  background: radial-gradient(
      circle, 
    hsla(0, 0%, 100%, 1) 0%, 
    rgb(255, 255, 255) 100%
    );
  background: -moz-radial-gradient(
    circle, 
    hsla(0, 0%, 50%, 1) 0%, 
    rgb(253, 253, 253) 100%
  );
  background: -webkit-radial-gradient(
    circle, 
    hsla(0, 0%, 100%, 1) 0%, 
    rgb(255, 252, 247) 100%
  );
} 

@mixin basic-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin margin-center {
  margin: 0 auto;
}


/* -------------------
 + Responsive Mixins +
------------------- */
// TODO Add breakpoints and create this file

@mixin phone-screen {
  @media screen and (max-width: map-get($breakpoints, md-screen-size1)) {
    @content;
  }
}
@mixin tablet-screen {
  @media screen and (max-width: map-get($breakpoints, lg-screen)) {
    @content;
  }
}