/*----
: Typography
----*/
$fs-1: 1.6rem;
$fs-2: 1.4rem;
$fs-3: 1.2rem;
$fs-4: 1.1rem;
$fs-5: 0.9rem;
$fs-title: clamp(30px,5vw,75px);



/*----
:: Colors
----*/
$black-dark:#1d1b19;
$ligth-gold:#FFFAF3;
$col-brand:#555b6e;
$ligth-green:#80ed99;
$blue-network:#4361ee;
$white:#ffffff;



/*----
:: Font Family
----*/
$font-primary: 'Roboto', sans-serif;
$font-fun: 'Mouse Memoirs', sans-serif;

/*----
:: Font Family
----*/
$fw-bold: 900;
$fw-semi-bold: 700;
$fw-semi-normal: 500;
