.box {
  background-image: linear-gradient(45deg, $col-brand, #627a68);
  color: $white;
  @include basic-centered;
  flex-direction: column;
  flex-wrap: wrap;
  transform: translateY(-10px);
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
  height: auto;
  margin-bottom: 35px;
  padding: 15px 5px 20px 5px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

@keyframes fade-in {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.box__title {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 90%;
  max-width: 91%;
  font-size: $fs-title-card;
  font-family: $font-fun;
  padding: 10px 0;
}

/* 
+ After Changes
.title {
  font-size: $fs-title-card;
  padding: 10px 0;
  font-family: $font-fun;
}
*/

.box__content {
  margin: 0 auto;
  display: block;
  width: 98%;
  text-align: center;
  padding: 5px 0 15px 0;
  font-family: $font-primary;
}

/* 
TODO =>
  : Adatation Title 
  : media queries includes in mixins
*/ 

.box__img {
  width: 99%;
  margin: 0 auto;
  border-radius: 5px 5px 8px 8px;
}

.box__watcher {
  height: 50px;
  width: 50px;
}

/* 
+ After Grid container
: display: grid;
: grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
: grid-auto-rows: 150px;
: gap: 10px;

*/